In [1]:
# 四則演算

10 + 2

12

In [2]:
333 + 19

352

In [3]:
1800 / 10

180.0

In [4]:
4.5 * 5.5

24.75

In [5]:
100 % 25

0

In [6]:
(100 + 300) / 4

100.0

In [7]:
(100 + 188) * 5

1440

In [8]:
2*2*2

8

In [10]:
2**4

16

In [12]:
# 複素数はjで表現される
 
(3 + 3j) - (2 +2j)

(1+1j)

In [19]:
# 変数

a = 10
a

10

In [20]:
b = 5
b

5

In [21]:
a + b

15

In [23]:
price = 100
price

100

In [27]:
tax = 1.1
tax

1.1

In [28]:
price * tax

110.00000000000001

In [29]:
c = 10 + 3
c

13

In [30]:
a1 = 100
a1

100

In [31]:
r = 10
r

10

In [33]:
x = 'Python'
x

'Python'

In [34]:
print(x)

Python

In [35]:
# 比較演算子
# 合っている時はTrue
# 間違っているとFalseが返ってくる

1 < 3

True

In [36]:
1>3

False

In [37]:
3 == 3

True

In [38]:
5 == 6

False

In [40]:
a = 1
b = 3

a < b

True

In [41]:
# 等しくない時

2 != 1

True

In [42]:
# ここでは等しくないと定義しているため、等しいとFalseが返る

4 != 4

False

In [43]:
5 >= 0

True

In [44]:
4 >= 1

True

In [45]:
4 >= 7

False

In [46]:
4 > 4

False

In [47]:
# 文字列も可能

'python' == 'python'

True

In [48]:
'Python' == 'python'

False

In [49]:
'python' != 'Python'

True

In [50]:
'python' != 'python'

False

In [51]:
# データ型

a = 120
a

120

In [53]:
# type()でデータの型(整数や少数、文字列)を知ることができる
# int(interger)は整数を表す

type(a)

int

In [54]:
type(100)

int

In [55]:
b = 9.9
b

9.9

In [56]:
# floatは小数点を表す

type(b)

float

In [57]:
type(1.9)

float

In [62]:
# complexは複素数を表す

complex = 5j
complex

5j

In [63]:
type(complex)

complex

In [64]:
# str(string)は文字列を表す

name = 'python'
name

'python'

In [65]:
type(name)

str

In [66]:
# Pythonでは「True」の先頭は大文字

flg = True
flg

True

In [67]:
# boolは論理型(True, False)を表す

type(flg)

bool

In [68]:
# list = []

c = [10, 20]
c

[10, 20]

In [72]:
# tuple = ()

t = (10, 100)
t

(10, 100)

In [73]:
# tupleはtuple型を返す

type(t)

tuple

In [69]:
# listはlist型を返す

type(c)

list

In [70]:
# dict = {}
d = {}
d

{}

In [71]:
# dictはdict型を返す

type(d)

dict

In [74]:
# 複数の変数
# list

list = ['python', '-', 'learning']
list

['python', '-', 'learning']

In [75]:
# データ型の確認

type(list)

list

In [77]:
# index番号から取り出す

list[0]

'python'

In [79]:
list[1]

'-'

In [80]:
list[2]

'learning'

In [81]:
scores = [60, 70, 80]
scores

[60, 70, 80]

In [83]:
scores[2]

80

In [87]:
# マイナスをつけることで後ろから要素を出力

scores[-1]

80

In [88]:
scores[-2]

70

In [90]:
# :を付けることで出力する範囲を指定できる

scores[0:2]

[60, 70]

In [91]:
scores[0:1]

[60]

In [92]:
scores[0:]

[60, 70, 80]

In [94]:
# マイナスは最後を指定するので、80を除いた要素を出力

scores[:-1]

[60, 70]

In [101]:
scores.append(70)

In [102]:
scores

[60, 70, 80, 70, 70, 70, 70, 70, 70, 70]

In [103]:
scores.append(90)

In [104]:
scores

[60, 70, 80, 70, 70, 70, 70, 70, 70, 70, 90]

In [106]:
# 何も指定がなければ最後から要素を削除

scores.pop()

90

In [108]:
scores.pop(4)

70

In [109]:
scores

[60, 70, 80, 70, 70, 70, 70, 70, 70]

In [115]:
scores.pop(4)

70

In [117]:
scores.append(90)

In [118]:
scores

[60, 70, 80, 70, 90]

In [119]:
# dict(辞書)の基本形➡︎{key: value}

scores = {'国語': 60, '数学': 70, '英語': 80, '理科': 70, '社会': 90}

In [120]:
scores

{'国語': 60, '数学': 70, '英語': 80, '理科': 70, '社会': 90}

In [121]:
# dictで取得する方法
# 変数[key]

scores['国語']

60

In [122]:
scores['英語']

80

In [123]:
# dictでの追加

scores['体育'] = 100

In [124]:
scores

{'国語': 60, '数学': 70, '英語': 80, '理科': 70, '社会': 90, '体育': 100}

In [125]:
# 削除

scores.pop('体育')

100

In [126]:
scores

{'国語': 60, '数学': 70, '英語': 80, '理科': 70, '社会': 90}

In [127]:
# tuple

scores = (80, 60, 90)
scores

(80, 60, 90)

In [129]:
scores[0]

80

In [130]:
scores[2]

90

In [ ]:
# tupleでは要素の追加や削除ができないので注意!!
# tapuleは使用メモリ(容量)少ない
# 演算が早い
# 要素が変えたくない時に使う

In [151]:
# if文

money = 8000
money

8000

In [152]:
if money >= 8800:
    print('ディズニーランドへ行く')
elif money >= 3000:
    print('映画館へ行く')
else:
    print('家にいる')

映画館へ行く

In [158]:
for i in range(1, 11):
    if i % 3 == 0:
        print('3の倍数')
    elif i % 5 == 0:
        print('5の倍数')
    else:
        print(i)

1
2
3の倍数
4
5の倍数
3の倍数
7
8
3の倍数
5の倍数

In [159]:
# for文

names = ['鈴木', '佐藤', '田中', '高橋', '川上']
names

['鈴木', '佐藤', '田中', '高橋', '川上']

In [161]:
print(names[0] + 'さん')
print(names[1] + 'さん')
print(names[2] + 'さん')
print(names[3] + 'さん')
print(names[4] + 'さん')

鈴木さん
佐藤さん
田中さん
高橋さん
川上さん

In [164]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [167]:
# listの長さが5回なのでrange(5)

for i in range(len(names)):
    print(names[i] + 'さん')

鈴木さん
佐藤さん
田中さん
高橋さん
川上さん

In [162]:
# namesという要素を1つずつ抽出してnameに代入している

for name in names:
    print(name + 'さん')

鈴木さん
佐藤さん
田中さん
高橋さん
川上さん

In [166]:
# len = データ数を集計

len(names)

5

In [172]:
# 1~20の値を足し算した計算
x = 0
for y in range(20):
    x = x + (y + 1)
    print(x)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [186]:
sum = 0
for num in range(30):
    sum += num + 1
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465

In [82]:
# for文応用

last_names = ['佐藤', '田中', '鈴木', '川上']
first_names = ['康平', '健介', '康二', '康介']

In [85]:
print(last_names[0] + first_names[0] + 'さん')
print(last_names[1] + first_names[1] + 'さん')
print(last_names[2] + first_names[2] + 'さん')
print(last_names[3] + first_names[3] + 'さん')

佐藤康平さん
田中健介さん
鈴木康二さん
川上康介さん

In [89]:
for i in range(len(last_names)):
    print(last_names[i] + first_names[i] + 'さん')

佐藤康平さん
田中健介さん
鈴木康二さん
川上康介さん

In [91]:
# zip()は複数のlistの要素を同時に取り出すときに使う

for last_name, first_name in zip(last_names, first_names):
    print(last_name + first_name + 'さん')

佐藤康平さん
田中健介さん
鈴木康二さん
川上康介さん

In [92]:
last_names

['佐藤', '田中', '鈴木', '川上']

In [96]:
print('出席番号', 0, '番目の' + last_names[0] + 'さん')
print('出席番号', 1, '番目の' + last_names[1] + 'さん')
print('出席番号', 2, '番目の' + last_names[2] + 'さん')
print('出席番号', 3, '番目の' + last_names[3] + 'さん')

出席番号 0 番目の佐藤さん
出席番号 1 番目の田中さん
出席番号 2 番目の鈴木さん
出席番号 3 番目の川上さん

In [97]:
for i in range(len(last_names)):
    print('出席番号', i, '番目の' + last_names[i] + 'さん')

出席番号 0 番目の佐藤さん
出席番号 1 番目の田中さん
出席番号 2 番目の鈴木さん
出席番号 3 番目の川上さん

In [100]:
# enumerate()はlistの要素番号(index番号)と要素を同時に取得

for num, last_name in enumerate(last_names):
    print('出席番号', num, '番目の' + last_name + 'さん')

出席番号 0 番目の佐藤さん
出席番号 1 番目の田中さん
出席番号 2 番目の鈴木さん
出席番号 3 番目の川上さん

In [ ]:
# zip()は要素を複数取り出したい時に使う
# enumerate()は要素番号と要素を取り出したい時に使う

In [3]:
# while文は指定の処理を繰り返し行う
# 無限ループにならないように気をつける
# 60秒経過すると試合終了になるゲームを作る

time = 60
while time>0:
    print('残り', time, '秒です')
    time -= 1

print('試合終了')

残り 60 秒です
残り 59 秒です
残り 58 秒です
残り 57 秒です
残り 56 秒です
残り 55 秒です
残り 54 秒です
残り 53 秒です
残り 52 秒です
残り 51 秒です
残り 50 秒です
残り 49 秒です
残り 48 秒です
残り 47 秒です
残り 46 秒です
残り 45 秒です
残り 44 秒です
残り 43 秒です
残り 42 秒です
残り 41 秒です
残り 40 秒です
残り 39 秒です
残り 38 秒です
残り 37 秒です
残り 36 秒です
残り 35 秒です
残り 34 秒です
残り 33 秒です
残り 32 秒です
残り 31 秒です
残り 30 秒です
残り 29 秒です
残り 28 秒です
残り 27 秒です
残り 26 秒です
残り 25 秒です
残り 24 秒です
残り 23 秒です
残り 22 秒です
残り 21 秒です
残り 20 秒です
残り 19 秒です
残り 18 秒です
残り 17 秒です
残り 16 秒です
残り 15 秒です
残り 14 秒です
残り 13 秒です
残り 12 秒です
残り 11 秒です
残り 10 秒です
残り 9 秒です
残り 8 秒です
残り 7 秒です
残り 6 秒です
残り 5 秒です
残り 4 秒です
残り 3 秒です
残り 2 秒です
残り 1 秒です
試合終了

In [4]:
# break文はfor文やwhile文の繰り返し処理をtomeru

i = 0

while True:
    i += 1
    if i == 10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
# continue文は処理をスキップして次の処理を続ける

i = 0

while True:
    i += 1
    if i == 10:
        continue
    elif i > 50:
        break
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
# break文はfor文やwhile文の処理を止める
# continue文は処理をスキップして次の処理を続ける

In [187]:
# 関数の使い方
# 関数の定義

def say_hello():
    print('みなさんこんにちは')

In [189]:
# 関数を使う時は関数の宣言を行う

say_hello()

みなさんこんにちは

In [195]:
def say_hello2(name):
    print('{}さん、こんにちは'.format(name))

In [196]:
say_hello2('佐藤')

佐藤さん、こんにちは

In [197]:
say_hello2('田中')

田中さん、こんにちは

In [198]:
def calc_square(side):
    y = side * side
    return y

In [202]:
result = calc_square(5)

In [204]:
result = calc_square(10)

In [205]:
result

100

In [206]:
def triangle(bottom, hight):
    y = (bottom * hight) /2
    return y

In [207]:
triangle(4, 3)

6.0

In [211]:
triangle(10, 20)

100.0

In [1]:
# グローバル関数とローカル関数
# 関数の中で定義された変数を「ローカル変数」という
# 

def say_something():
    # ローカル変数
    message = 'こんにちは、私はPythonです。'
    print(message)

In [2]:
say_something()

こんにちは、私はPythonです。

In [3]:
# ローカル変数で定義しているのでエラーが出る

print(message)

NameError: name 'message' is not defined

In [6]:
message1 = 'こんばんは、私はPythonです。'

In [7]:
def say_something1():
    print(message1)

In [8]:
# 今回のように関数の外で定義した変数を関数を使って呼び出す変数をグローバル変数という

say_something1()

こんばんは、私はPythonです。

In [9]:
# ローカル関数

def say_something2():
    test_message = 'Python学習をします。'
    print(test_message)

say_something2()

Python学習をします。

In [11]:
# グローバル関数
test_message1 = '機械学習の基礎を学びます。'

def say_something3():
    print(test_message1)

say_something3()

機械学習の基礎を学びます。

In [ ]:
# class
# 設計書の準備

class Person:
    # 関数を初期化
    # 関数の初期設定をする
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age

In [15]:
# インスタンス化

python = Person('ゴジータ', '日本', '35')

In [16]:
python.name

'ゴジータ'

In [17]:
python.nationality

'日本'

In [18]:
python.age

'35'

In [19]:
mike = Person('マイク', 'アメリカ', 15)

In [20]:
mike.name

'マイク'

In [21]:
mike.nationality

'アメリカ'

In [22]:
mike.age

15

In [43]:
# classを扱うときの関数はself必須
# class内で定義する関数をメソッドという

class Person:
    # 関数を初期化
    # 関数の初期設定をする
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def say_hello(self, name):
        print('こんにちは。{}さん、私は{}です。'.format(name, self.name))

In [45]:
python = Person('ゴジータ', '日本', '35')

In [46]:
python.name

'ゴジータ'

In [47]:
python.nationality

'日本'

In [48]:
python.age

'35'

In [50]:
python.say_hello('佐藤')

こんにちは。佐藤さん、私はゴジータです。

In [51]:
mike = Person('マイク', 'アメリカ', 15)

In [52]:
mike.say_hello('ダンク')

こんにちは。ダンクさん、私はマイクです。

In [53]:
bobu = Person('ボブ', 'アメリカ', 18)

In [54]:
bobu.say_hello('ダンク')

こんにちは。ダンクさん、私はボブです。

In [55]:
bobu.name

'ボブ'

In [56]:
bobu.nationality

'アメリカ'

In [57]:
bobu.age

18

In [58]:
class Person:
    # 関数を初期化
    # 関数の初期設定をする
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def __call__(self):
        print('ここはcallメソッドです。')
    
    def say_hello(self, name):
        print('こんにちは。{}さん、私は{}です。'.format(name, self.name))

In [59]:
python = Person('ゴジータ', '日本', '35')

In [62]:
python.say_hello('フリーザ')

こんにちは。フリーザさん、私はゴジータです。

In [64]:
# コール関数はインスタンス()で呼び出すことができる

python()

ここはcallメソッドです。

In [65]:
class Person:
    # 関数を初期化
    # 関数の初期設定をする
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def __call__(self):
        print('ここはcallメソッドです。')
    
    def say_hello(self, name):
        print('こんにちは。{}さん、私は{}です。'.format(name, self.name))

In [74]:
# 子クラス
# superは親クラスの中身を全て継承

class Saiyan(Person):
    def __init__(self, name, nationality, age, strength):
        # superは親クラスを呼び出す関数
        super().__init__(name, nationality, age)
        self.strength = strength

In [75]:
goku = Saiyan('カカロット', '惑星ベジータ', 30, 1000000)

In [76]:
goku.name

'カカロット'

In [77]:
goku.nationality

'惑星ベジータ'

In [78]:
goku.age

30

In [79]:
goku.strength

1000000

In [80]:
goku.say_hello('クリリン')

こんにちは。クリリンさん、私はカカロットです。

In [7]:
# 例外処理

def calc_tri(base, height):
    return (base * height) * 0.5

In [9]:
result = calc_tri(5, 8)
result

20.0

In [11]:
print('計算結果 : {}'.format(result))

計算結果 : 20.0

In [14]:
# 例外処理
# try: except:

base = 10
height = '5'

try:
    result = calc_tri(base, height)
    print('計算結果 : {}'.format(result))
except Exception as e:
    print('計算できません')
    # エラーの内容を確認できる
    print(e)

計算できません
can't multiply sequence by non-int of type 'float'

In [21]:
try:
    a = 10
    b = 2
    result = a / b
    print('計算結果 : {}'.format(result))
    # エラーをキャッチする
except ZeroDivisionError:
    print('0で割ってます')
    # 最後に必ず行いたい処理
finally:
    print('ここは必ず通ります')

計算結果 : 5.0
ここは必ず通ります

In [23]:
# 標準ライブラリ
# math
# 数論及び数数表現の関数

import math

In [25]:
# 円周率

math.pi

3.141592653589793

In [26]:
# date
# datetimeという機能にdateという機能が入っている

from datetime import date

In [27]:
date.today()

datetime.date(2021, 3, 26)

In [29]:
date.today().year

2021

In [30]:
date.today().month

3

In [31]:
date.today().day

26